.blockquote-reverse{
    border-right:0px;
}
#display{
    /*top:30%;*/
    background:white;
    border-radius:5px;
    padding:3em;
    vertical-align:middle;
    text-align:center;
    max-width:45vw;
    margin-right:27.5vw;
    margin-left:27.5vw;
    margin-top:12vw;
    font-weight:500;
    font-size:1em;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color:red;
}
#randQuote{
    float:right;
    background:red;
    border:none;
}
#twitter{
    padding-top:.5em;
    padding-bottom:.5em;
    font-weight:600;
    background:red;
    border:none;
}
#quote{
    font-size:2vw;
    text-align:center;
}